body {
    background-color: rgb(108, 107, 107);
}
#board{
    /* max-width: 640px;
    min-height: 320px; */
    /* margin: auto; */
    text-align: center;

}
.square {
    margin-bottom: 4px;
    background-color: #fff;
    border: 2px solid #000;
    width: 185px;
    height: 185px;
    outline: none; /* remove the blue line from clicking our squares */
    font-size: 60px;
}
.square:hover{
    background-color: rgb(177, 198, 255);
}
#title {
    font-size: 60px;
    text-align: center;
}
#message {
    font-size: 40px;
    text-align: center;
}
.winning-square {
background-color: green;
}
.replay {
    display: inline-block;
    position: fixed;
    border: 1px solid black;
    padding: 50px;
    border-radius: 20px;
    background-color: #ffffff;
    visibility: hidden;
    margin-left: 773px;
    margin-top: -360px;
    opacity: 0.8;
}
#replay {
    font-size: 40px;
    border-radius: 20px;
    background-color: #fff;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
}
#quit {
    font-size: 40px;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
}